{:highlights [{:id #uuid "6711246e-57dc-4664-899e-ed8f02031637",
               :page 3,
               :position {:bounding {:x1 0,
                                     :y1 233.90625,
                                     :x2 605,
                                     :y2 855.640625,
                                     :width 605,
                                     :height 855.6425086850469},
                          :rects ({:x1 105.578125,
                                   :y1 233.90625,
                                   :x2 276.2734375,
                                   :y2 247.4765625,
                                   :width 605,
                                   :height 855.6425086850469}
                                  {:x1 123.421875,
                                   :y1 249.9296875,
                                   :x2 179.1328125,
                                   :y2 262.6796875,
                                   :width 605,
                                   :height 855.6425086850469}
                                  {:x1 123.421875,
                                   :y1 265.2578125,
                                   :x2 267.25,
                                   :y2 278.0078125,
                                   :width 605,
                                   :height 855.6425086850469}
                                  {:x1 123.421875,
                                   :y1 280.59375,
                                   :x2 171.3671875,
                                   :y2 290.984375,
                                   :width 605,
                                   :height 855.6425086850469}
                                  {:x1 123.421875,
                                   :y1 295.9296875,
                                   :x2 328.828125,
                                   :y2 308.6796875,
                                   :width 605,
                                   :height 855.6425086850469}
                                  {:x1 266.984375,
                                   :y1 321.828125,
                                   :x2 270.3671875,
                                   :y2 335.328125,
                                   :width 605,
                                   :height 855.6425086850469}
                                  {:x1 288.95098876953125,
                                   :y1 321.828125,
                                   :x2 321.97760009765625,
                                   :y2 335.328125,
                                   :width 605,
                                   :height 855.6425086850469}
                                  {:x1 526.5859375,
                                   :y1 321.828125,
                                   :x2 531.2578125,
                                   :y2 335.328125,
                                   :width 605,
                                   :height 855.6425086850469}
                                  {:x1 0,
                                   :y1 332.7578125,
                                   :x2 605,
                                   :y2 855.640625,
                                   :width 605,
                                   :height 855.6425086850469}),
                          :page 3},
               :content {:text nil},
               :properties {:color "yellow"}}],
 :extra {:page 3}}
